@import "tailwindcss";


/* Custom Theme Variables */
@theme static {
  --color-primary: #1e40af;
  --color-light-blue: #3b82f6;
  --color-dark-blue: #1e3a8a;
  --color-sky-blue: #0ea5e9;
  --color-navy-blue: #1e293b;
  --color-soft-gray: #6b7280;
  --color-bg: #f8faff;
  --color-brand-navy: #1a3a6c;
  --color-brand-blue: #2c67a6;
  --color-brand-sky: #b5d5e5;
  --color-brand-orange: #f7a35c;
  --color-brand-green: #7ba779;
}